/*Color Scheme -----------------------------------
plum - #DDA0DD - rgba(221,160,221,0.5)
cyan - #00FFFF - rgba(0,255,255,0.75)
azure - #F0FFFF - rgba(240,255,255,0.5)
ghostwhite - #F8F8FF - rgb(248,248,255)
lightcyan - #E0FFFF - rgba(224,255,255,0.5)
dimgray - #696969 - rgba(105,105,105,0.75)
*/

@import url('https://fonts.googleapis.com/css?family=Allan|Crafty+Girls|Fredericka+the+Great|Kaushan+Script|Merienda+One|Petit+Formal+Script|Pragati+Narrow');
@import "compass/css3";

/*--- Global ----------------------------------*/

body{
  font-family: 'Oxygen', sans-serif;
  margin :0;
  padding: 0;
  width: 100%;
/*  height: 100vh; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://source.unsplash.com/5YtjgRNTli4/1400x950");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  }

  .background {
    background-color: rgba(248,248,255,0.75);
  }

  .background h3 {
    font-family: 'Sacramento';
  }

/*-- Header Footer ----------------------------*/

header {
  background: #DDA0DD;
  margin: 0;
}

footer {
  background: rgba(221,160,221,0.9);
  color: #F8F8FF;
  padding: 60px 25px 20px;
  text-align: center;
}

footer h2 {
  margin: 0;
  font-size: 18px;
}

.contact-info a {
  padding: 20px;
  display: inline-block;
  color: rgba(248,248,255,0.75);
}

.contact-info a:hover {
  color: rgba(255,221,170,0.95);
}

footer p {
  text-align: right;
  font-size: 10px;
  color: rgba(105,105,105,0.7);
}

/*-- Intro -----------------------------------*/

.intro {
  box-sizing: border-box;
  margin: auto;
  padding: 40px 50px 100px 50px;
  text-align: center;
  background-color: #DDA0DD;
  color: #F8F8FF;
}

.homepage a {
  font-family: 'Stalemate';
  font-size: 85px;
  text-decoration: none;
	font-weight: bold;
	letter-spacing: 10px;
  color: #F8F8FF;
}

.intro p {
  font-size: 20px;
  font-weight: 300;
  color: #F8F8FF;
  margin-bottom: 35px;
  font-family: 'Oxygen';
}

/*--Hire button ----------------------------------*/
/*
.fancy-btn{
  display:inline-block;
  position:relative;
  padding:10px 20px 5px;
  border:2px solid #F8F8FF;
  border-radius: 5px;
  color:#F8F8FF;
  font-family:'Sacramento',sanserif;
  font-weight: bolder;
  font-size:30px;
  text-decoration:none;
  margin:20px auto;
  transition: color 0.4s
}
.fancy-btn:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  border-radius: 5px;
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.fancy-btn:hover{
  color: #F8F8FF;
}
.fancy-btn:hover:after{
  border:2px solid #F8F8FF;
  border-radius: 5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}
*/
/*----Menu Dropdown-------------------------------*/

.menu-toggle {
  width: 40px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 25px;
  cursor: pointer;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: rgba(105,105,105,0.5);
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  list-style: none;
  margin: 4em auto;
  text-align: center;
}
nav ul.hidden {
  display: none;
}
nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: white ;
  font-size: 3em;
  line-height: 1.5;
  width: 100%;
  display: block;
  font-family: 'Oxygen';
}

nav ul a:hover {
  background-color: rgba(248,248,255,0.75);
}

.menu-section.on {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(105,105,105,0.75);
  position: fixed;
}

/*-- Hired Bits ------------------------------------*/
.Hired {
  font-family: 'Oxygen';
  display: block;
  box-sizing: border-box;
  color: #292929;
  margin: auto;
}


input[type=sign-up], select {
    width: 65%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #696969 ;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-family: 'Oxygen';
    padding-top: 10px;
    font-size: 25px;
    display: block;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
}


input[type=submit] {
  width: 30%;
  margin: auto;
  border: 2px solid #fda;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  display: block;
  box-sizing: border-box;
  font-family: 'Sacramento';
  font-size: 20px;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 130px;
  background: none;
  box-shadow: 0 0 100px #fda;
}

input[type=submit]:hover {
    background-color: rgba(248,248,255,0.95);
    color:#fda;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }


form {
  margin: auto;
  padding: 50px;
  display: block;
  box-sizing: border-box;
  padding-bottom: 74px;
}

#age {
  font-family: 'Oxygen';
  margin-top: 20px;
}

#princess {
  font-family: 'Oxygen';
  margin-top: 20px;
  margin-bottom: 20px;
}

#hours {
  font-family: 'Oxygen';
  margin-top: 20px;
}

#children {
  font-family: 'Oxygen';
  margin-top: 20px;
}
